<meta charset="UTF-8">
<meta name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">

<link rel="shortcut icon" type="image/x-icon" href="{{ get_url(path="favicon.ico") | safe }}">

<link rel="stylesheet" href="{{ get_url(path="main.css") | safe }}">
<script type="text/javascript" src="{{ get_url(path="main.js") | safe }}" defer></script>
{%- if config.build_search_index %}
    <script type="text/javascript" src="{{ get_url(path="elasticlunr.min.js") | safe }}" async></script>
    {%- if lang == "en" -%}
        <script type="text/javascript" src="{{ get_url(path="search_index.en.js") | safe }}" async></script>
    {%- elif lang == "it" -%}
        <script type="text/javascript" src="{{ get_url(path="search_index.it.js") | safe }}" async></script>
    {%- endif -%}
{%- endif -%}

<meta name="twitter:site" content="@{{ config.extra.site_twitter }}">
<meta property="og:site_name" content="{{ config.title }}">

{%- if section or page -%}
{%- set current = section | default(value=page) -%}
{%- set title = current.title | default(value=config.title) %}
<meta name="title" content="{{ title }}">
<meta property="og:title" content="{{ title }}">
<meta property="og:url" content="{{ current.permalink | safe }}">
{%- set image = current.extra.cover | default(value=config.extra.default_cover) -%}
<meta property="og:image" content="{{ get_url(path=image) }}">

{%- if current.relative_path is starting_with("_index") or section %}
    <meta property="og:type" content="website">
    <meta name="twitter:card" content="summary">
{%- else -%}
    <meta property="og:type" content="article">
    <meta name="twitter:card" content="summary_large_image">
{%- endif -%}

{%- if current.description -%}
    <meta name="description" content="{{ current.description }}">
    <meta property="og:description" content="{{ current.description }}">
{%- endif -%}

{%- if current.ancestors | length > 1 -%}
    {%- set_global parents = [] %}
    {%- for parent_path in current.ancestors | slice(start=1) %}
        {%- set parent = get_section(path=parent_path, metadata_only=true) %}
        {%- set_global parents = parents | concat(with=parent.title) %}
    {%- endfor %}
    {%- set sect = parents | join(sep=" ") %}
    <meta property="article:section" content="{{ sect }}">
{%- endif -%}

{%- if current.extra.author -%}
    {%- set slug = current.extra.author | slugify -%}
    {%- set author = get_page(path="authors/" ~ slug ~ ".md") -%}
    <meta name="author" content="{{ author.title }}">
    <meta name="article:author" content="{{ author.title }}">
    {%- if author.extra.twitter -%}
        {%- set twitter = author.extra.twitter | trim_start_matches(pat="@") -%}
        <meta name="twitter:creator" content="@{{ twitter }}"/>
    {%- endif -%}
{%- endif -%}

{%- for t in current.translations -%}
    {%- set alternate = t.lang != lang -%}
    {%- if t.lang == "en" -%}
        {%- set suffix = "GB" -%}
    {%- else -%}
        {%- set suffix = t.lang | upper -%}
    {%- endif -%}
    <meta property="og:locale{%- if alternate -%}:alternate{%- endif -%}" content="{{ t.lang }}_{{ suffix }}"/>
    <link rel="alternate" hreflang="{{ t.lang }}" href="{{ t.permalink | safe }}"/>
    {%- if t.lang == config.default_language %}
        <link rel="alternate" hreflang="x-default" href="{{ t.permalink | safe }}"/>{%- endif -%}
{%- endfor -%}
{%- endif -%}


{%- block rss -%}
    <link rel="alternate" type="application/atom+xml" title="Atom"
          href="{{ get_url(path="atom.xml", trailing_slash=false) | safe }}">
{%- endblock -%}
