<meta charset="UTF-8">
<meta name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">

<link rel="shortcut icon" type="image/x-icon" href="{{ get_url(path="favicon.ico") | safe }}">

<link rel="stylesheet" href="{{ get_url(path="main.css") | safe }}">
<script type="text/javascript" src="{{ get_url(path="main.js") | safe }}" defer></script>
<script type="text/javascript" src="{{ get_url(path="elasticlunr.min.js") | safe }}" async></script>
{% if lang == "en" %}
<script type="text/javascript" src="{{ get_url(path="search_index.en.js") | safe }}" async></script>
{% elif lang == "it" %}
<script type="text/javascript" src="{{ get_url(path="search_index.it.js") | safe }}" async></script>
{% endif %}

