<aside class="column is-2 is-hidden-touch is-fullheight section">
    <div id="search-container" class="dropdown">
        <label for="search" title="Search">
            <input class="input is-rounded"
                   id="search" name="search"
                   type="search"
                   placeholder="{{ trans(key="search", lang=lang) }}">
        </label>
        <div class="dropdown-menu">
            <div id="search-results" class="dropdown-content"></div>
        </div>
    </div>
    <p class="menu-label">Navigation</p>
    <ul class="menu-list">
        <li>
            <a href="{{ get_url(path="@/_index.md", lang=lang) | safe }}" class="">
            <span class="icon"><i class="fa fa-home"></i></span> Home
            </a>
        </li>
        <li>
            <a href="#" class="">
                <span class="icon"><i class="fas fa-dice-d20"></i></span> RPGs
            </a>

            <ul>
                <li>
                    {% set skyfarer = get_section(path="skyfarer/_index.md") %}
                    <a href="{{ get_url(path="@/skyfarer/_index.md", lang=lang) | safe }}">
                    {{ skyfarer.title }}
                    </a>
                    <ul>
                        {% for sky_sub_path in skyfarer.subsections %}
                        {% set sky_sub = get_section(path=sky_sub_path) %}
                        <li><a href="{{ sky_sub.permalink | safe }}">{{ sky_sub.title }}</a></li>
                        {% endfor %}
                    </ul>
                </li>
            </ul>
        </li>
        <li>
            <a href="#" class="">
                <span class="icon"><i class="fa fa-info"></i></span> About
            </a>
        </li>
    </ul>
</aside>
