{# Variables #}
{%- set sky_root_url = get_url(path="@/skyfarer/_index.md", lang=lang) | safe -%}
{%- set skyfarer = get_section(path="skyfarer/_index.md") -%}

<div class="menu">
    <p class="menu-label">Navigation</p>
    <ul class="menu-list">
        <li>
            <a href="{{ get_url(path="@/_index.md", lang=lang) | safe }}" class="{{ macros::is_page_active(name="_index") }}">
                <span class="icon"><i class="fa fa-home"></i></span> Home
            </a>
        </li>
        <li>
            <a href="#" class="">
                <span class="icon"><i class="fas fa-dice-d20"></i></span> RPGs
            </a>

            <ul>
                <li>
                    <a href="{{ sky_root_url }}" class="{{ macros::is_page_active(name="skyfarer/_index", recursive=true) }}">
                        {{ skyfarer.title }}
                    </a>
                </li>
            </ul>
        </li>
        <li>
            <a href="{{ get_url(path="@/authors/_index.md", lang=lang) }}" class="{{ macros::is_page_active(name="authors/_index", recursive=true) }}">
                <span class="icon"><i class="fas fa-user-friends"></i></span> {{ trans(key="authors", lang=lang) }}
            </a>
        </li>
    </ul>
</div>

