<aside class="column is-2 is-hidden-mobile is-fullheight section">
    <p class="menu-label is-hidden-touch">Navigation</p>
    <ul class="menu-list">
        <li>
            <a href="{{ get_url(path="@/_index.md", lang=lang) }}" class="">
                <span class="icon"><i class="fa fa-home"></i></span> Home
            </a>
        </li>
        <li>
            <a href="#" class="">
                <span class="icon"><i class="fa fa-table"></i></span> RPGs
            </a>

            <ul>
                <li>
                    <a href="{{ get_url(path="@/skyfarer/_index.md", lang=lang) }}">
                    <span class="icon is-small"><i class="fa fa-link"></i></span> Skyfarer
                    </a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#" class="">
                <span class="icon"><i class="fa fa-info"></i></span> About
            </a>
        </li>
    </ul>
</aside>
