{# Variables #}
{%- set current_section = section | default(value=get_section(path=page.ancestors | last)) -%}
{%- set ancestors_length = current_section.ancestors | length -%}
{%- if ancestors_length > 1 -%}
{%- set root_section_path = current_section.ancestors | last -%}
{%- else -%}
{%- set root_section_path = current_section.relative_path -%}
{%- endif -%}
{%- set root_section_url = get_url(path="@/" ~ root_section_path) | safe -%}
{%- set root_section = get_section(path=root_section_path) -%}
{%- set is_generic_page = page and page.ancestors | length == 2 -%}
{%- set is_root_section = section and section == root_section -%}

{# Template #}
<div class="panel mt-4">
    <p class="panel-heading">{{ current_section.title }}</p>
    {%- if config.build_search_index %}
    <div id="search-container" class="panel-block dropdown">
        <p class="control has-icons-left has-tooltip-arrow" data-tooltip="Coming soon">
            <input class="input" type="search" id="search" name="search"
                   placeholder="{{ trans(key="search", lang=lang) }}" disabled>
            <span class="icon is-left">
                    <i class="fas fa-search" aria-hidden="true"></i>
                </span>
        </p>
        <div class="dropdown-menu">
            <div id="search-results" class="dropdown-content"></div>
        </div>
    </div>
    {%- endif %}
    {%- set is_general_tab = is_generic_page or is_root_section -%}
    <p class="panel-tabs">
        <a class="{%- if is_general_tab -%}is-active{%- endif -%}"
           href="{{ root_section_url }}">
            {{ trans(key="general", lang=lang) }}
        </a>

        {%- for subsection_path in root_section.subsections -%}
            {%- set subsection = get_section(path=subsection_path) -%}
            {%- set is_current_section = not is_root_section and current_path == subsection.path -%}
            {%- set is_current_subsection = page and subsection.relative_path == page.ancestors | last -%}
            <a class="{%- if is_current_section or is_current_subsection -%}is-active{%- endif -%}"
               href="{{ subsection.permalink | safe }}">{{ subsection.title }}</a>
        {%- endfor -%}
    </p>
    {# General #}
    {%- if is_general_tab -%}
        {%- for page in root_section.pages -%}
            <a class="panel-block{% if page.path == current_path %} is-active{%- endif -%}"
               href="{{ page.permalink | safe }}">
                {%- if page.extra.icon -%}
                    <span class="panel-icon">
                      <i class="{{ page.extra.icon }}" aria-hidden="true"></i>
                    </span>
                {%- endif -%}
                {{ page.title }}
            </a>
        {%- else -%}
            <p class="panel-block">{{ trans(key="nothing-here", lang=lang) }}</p>
        {%- endfor -%}
    {%- elif current_section and current_section != root_section -%}
        {# Subsection #}
        {%- for page in current_section.pages -%}
            {%- set icon = page.extra.icon | default(value=current_section.extra.icon | default(value="")) -%}
            <a class="panel-block{% if page.path == current_path %} is-active{%- endif -%}"
               href="{{ page.permalink | safe }}">
                {%- if icon -%}
                    <span class="panel-icon">
                      <i class="{{ icon }}" aria-hidden="true"></i>
                    </span>
                {%- endif -%}
                {{ page.title }}
            </a>
        {%- else -%}
            <p class="panel-block">{{ trans(key="nothing-here", lang=lang) }}</p>
        {%- endfor -%}
    {%- endif -%}
</div>
