@import url("https://fonts.bunny.net/css?family=Roboto&display=swap");
@import url("https://fonts.bunny.net/css?family=Source Code Pro&display=swap");

:root {
    --sans-font: "Roboto", -apple-system, system-ui, BlinkMacSystemFont,"Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    --mono-font: Source Code Pro,Consolas,Menlo,Monaco,"Andale Mono","Ubuntu Mono",monospace;

    --green: green;
    --red: red;
    --yellow: rgb(255, 234, 0);
    --light-grey: rgb(211, 211, 211);
    --dark-grey: rgb(95, 95, 95);

    --success: var(--green);
    --danger: var(--red);
    --warning: var(--yellow)
}