{{ define "title" }}{{ .Title }}{{ end }}
{{ define "header" }}
<h1>{{ .Title }}{{ partial "progress-status.html" . }}{{ partial "draft-badge.html" . }}</h1>
{{ with .Description }}
<h4>{{ . }}</h4>
{{ end }}
{{ end }}
{{ define "main" }}

{{ if .Content }}
<div>
    {{ if .Pages }}
    <aside>
        <p><b>Chapters</b></p>
        <nav>
            <ol>
                {{ range .Pages }}
                <li><a href="{{ .RelPermalink }}">{{ .Title | truncate 25 }}</a></li>
                {{ end }}
            </ol>
        </nav>
    </aside>
    {{ end }}
    {{ .Content }}
</div>
{{ end }}

<section>
    {{ range .Pages }}
    {{ partial "post-article.html" . }}
    {{ else }}
    <p>This series has no posts yet</p>
    {{ end }}

    <p>This series is {{ .Params.status }} </p>
</section>
{{ end }}