{{ define "title" }}{{ .Title }}{{ end }}
{{ define "header" }}<h1>{{ .Title }}{{ partial "progress-status.html" . }}</h1>{{ end }}
{{ define "main" }}

{{ if .Description }}
<p>
    <em>{{ .Description }}</em>
</p>
{{ end }}
{{ if .Content }}
<div>
    <aside>
        <p><b>Chapters</b></p>
        <nav>
            <ol>
                {{ range .Pages }}
                <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
                {{ end }}
            </ol>
        </nav>
    </aside>
    {{ .Content }}
</div>
{{ end }}

<section>
    {{ range .Pages }}
    <article>
        <div>
            <h2>
                <a href="{{ .RelPermalink }}">{{ .Title }}</a>
                {{ with .Params.status }}
                <span class="progress {{ . }}"></span>
                {{ end }}
            </h2>
            {{ partial "post-meta.html" . }}
            <p>
                {{ .Summary }}
            </p>
        </div>
        {{ if .Truncated }}
        <div>
            <a href="{{ .RelPermalink }}">Read More…</a>
        </div>
        {{ end }}

    </article>
    {{ end }}

    <p>This series is {{ .Params.status }} </p>
</section>
{{ end }}