{{ define "header" }}<h1>{{ .Title }}{{ partial "draft-badge.html" . }}</h1>{{ end }}
{{ define "main" }}
{{ partial "post-meta.html" . }}

{{ $currentID := .File.UniqueID }}
{{ with .CurrentSection }}
<div>
    <article class="series-box">
        <p>This post is part of the <a href="{{ .RelPermalink }}">{{ .Title }}</a> series.</p>

        <div class="series-navigation">
            {{ with $.NextInSection }}
            <a href="{{ .RelPermalink }}" title="{{ .Title }}"><i class="fa-solid fa-chevron-left"> </i>Previous</a>
            {{ else }}
            <span></span>
            {{ end }}
            <select name="series-part">
                {{ range .Pages }}
                <option value="{{ .RelPermalink }}" {{ if eq .File.UniqueID $currentID }}selected{{ end }}>{{ .Weight }}. {{ .Title | truncate 25 }}</option>
                {{ end }}
            </select>
            {{ with $.PrevInSection }}
            <a href="{{ .RelPermalink }}" title="{{ .Title }}">Next <i class="fa-solid fa-chevron-right"></i></a>
            {{ else }}
            <span></span>
            {{ end }}
        </div>
    </article>
</div>
{{ end }}

{{ partial "toc.html" .TableOfContents }}
{{ .Content }}

{{ end}} {{/* main */}}

{{ define "scripts" }}
{{ $js := resources.Get "ts/series/selector.ts" | js.Build "series-selector.js" }}
{{ if not .Site.IsServer }}
{{ $js = $js | minify | fingerprint}}
{{ end }}
<script src="{{ $js.Permalink }}" defer></script>
{{ end }}