{%- if not side -%}
{%- set side = "left" -%}
{%- endif -%}

{%- if not op -%}
    {%- set op = "scale" -%}
{%- endif -%}

{%- set image = resize_image(path=src, width=width, height=height, op=op, format="webp") -%}
{%- set url = get_url(path=src) -%}

<div class="columns">
    {%- if side == "left" -%}
    <div class="column">
        <a href="{{ url | safe }}">
            <figure class="image{%- if class -%} {{ class }}{%- endif -%}">
                <img src="{{ image.url | safe }}"
                     alt="{{ alt }}"
                     width="{{ image.width }}"
                     height="{{ image.height }}"
                     style="width:{{ image.width }}px;height:{{ image.height }}px">
            </figure>
        </a>
    </div>
    {%- endif -%}

    <div class="column content">
        {{ body | markdown | safe }}
    </div>

    {%- if side == "right" -%}
        <div class="column">
            <a href="{{ url | safe }}">
                <figure class="image{%- if class -%} {{ class }}{%- endif -%}">
                    <img src="{{ image.url | safe }}"
                         alt="{{ alt }}"
                         width="{{ image.width }}"
                         height="{{ image.height }}"
                         style="width:{{ image.width }}px;height:{{ image.height }}px">
                </figure>
            </a>
        </div>
    {%- endif -%}
</div>
