{%- if not side -%}
{%- set side = "left" -%}
{%- endif -%}
<div class="columns">
    {%- if side == "left" -%}
    <div class="column">
        <figure class="image{%- if class -%} {{ class }}{%- endif -%}">
            <img src="{{ src | safe }}"
                 alt="{{ alt }}"
                 {%- if width -%}width="{{ width }}" {%- endif -%}
                 {%- if height -%}height="{{ height }}" {%- endif -%}
                 style="{%- if width -%}width:{{ width }}px{%- endif -%}{%- if height -%};height:{{ height }}px{%- endif -%}">
        </figure>
    </div>
    {%- endif -%}

    <div class="column">
        {{ body }}
    </div>

    {%- if side == "right" -%}
        <div class="column">
            <figure class="image{%- if class -%} {{ class }}{%- endif -%}">
                <img src="{{ src | safe }}"
                     alt="{{ alt }}"
                     {%- if width -%}width="{{ width }}" {%- endif -%}
                     {%- if height -%}height="{{ height }}" {%- endif -%}
                     style="{%- if width -%}width:{{ width }}px{%- endif -%}{%- if height -%};height:{{ height }}px{%- endif -%}">
            </figure>
        </div>
    {%- endif -%}
</div>
