{{ define "main" }}

<h2>Series with {{ .Data.Singular }} <i>{{ .Data.Term | title }}</i></h2>
<dl>
    {{ range where (where .Pages "Section" "series" ) "Kind" "section"  }}
    <dt><a href="{{ .Permalink }}">{{ .Title }}</a></dt>
    <dd>{{ .Description | default .Summary }}</dd>
    {{ else }}
    <p>No series found</p>
    {{ end }}
</dl>

<h2>Articles with {{ .Data.Singular }} <i>{{ .Data.Term | title }}</i></h2>
<dl>
    {{ range .RegularPages }}
    {{ $title := .Title }}
    {{ if and (eq .Kind "page") (eq .Type "series")}}
    {{ $title = printf "%s / %s" .Parent.Title $title }}
    {{ end }}
    <dt><a href="{{ .Permalink }}">{{ $title }}</a></dt>
    <dd>{{ .Description | default .Summary }}</dd>
    {{ else }}
    <p>No articles found</p>
    {{ end }}
</dl>

{{ end }}