{%- import "macros.html" as macros -%}
{%- set current_section = section | default(value=get_section(path=page.ancestors | last)) -%}

<!doctype html>
<html lang="{{ lang }}" prefix="og: http://ogp.me/ns#">
<head>
    {%- include "partials/head.html" -%}
    <title>{%- block title -%}
        {%- if page -%}
            {{ page.title }} | {{ current_section.title }}
        {%- elif section -%}
            {{ section.title }}
        {%- endif -%}
    {%- endblock -%}</title>
</head>
<body>
{%- include "partials/navbar.html" -%}

<div class="columns is-fullheight">
    <aside class="column is-4-tablet is-3-widescreen is-2-ultrawide is-hidden-touch is-fullheight section">
        {%- include "partials/sidemenu.html" -%}
        {%- include "rpg/partials/panel.html" -%}
    </aside>

    <div class="column">
        <section class="section">
            <div class="container">
                {%- block content -%} {%- endblock -%}
            </div>
        </section>

        <section class="section is-hidden-desktop">
            {%- include "rpg/partials/panel.html" -%}
        </section>
    </div>
</div>
{%- include "partials/footer.html" -%}
</body>
</html>
