{%- extends "rpg/base.html" -%}

{%- block content -%}
<h1 class="title">{{ page.title }}</h1>
{%- if page.description -%}
<h2 class="subtitle">{{ page.description }}</h2>
{%- endif -%}
<div class="level">
    <div class="level-left">
        {%- if page.extra.author -%}
        <a class="level-item" href="{{ macros::author_url(name=page.extra.author) }}">{{ page.extra.author }}</a>
        {%- endif -%}
        <p class="level-item">{{ trans(key="reading-time", lang=lang) }}: {{ page.reading_time }} {{
            trans(key="minutes", lang=lang) }}</p>
    </div>
    <div class="level-right">
        {%- if page.date %}
        <p class="level-item">
            <em>{{ trans(key="published", lang=lang) }}: {{ page.date | date(format="%F", lang=lang) }}</em>
        </p>
        {%- endif %}

        {%- if page.updated %}
        <p class="level-item">
            <em>{{ trans(key="last-updated", lang=lang) }}: {{ page.updated | date(format="%F", lang=lang) }}</em>
        </p>
        {%- endif %}
        {%- if page.translations | length > 1 -%}
        <p class="level-item">
            {{ trans(key="available-in", lang=lang) }}
            {%- for t in page.translations -%}
            {%- if t.lang != lang -%}
            <a href="{{ t.permalink | safe }}">&nbsp;{{ t.lang | upper }}</a>
            {%- endif -%}
            {%- endfor -%}
        </p>
        {%- endif -%}
    </div>
</div>
{%- if page.extra.badges -%}
<div class="level">
    <div class="level-right">   
        {%- for badge in page.extra.badges -%}
        {%- if  badge.path -%}
        {%- set url = get_url(path=badge.path) -%}
        {%- set target = "" -%}
        {%- else -%}
        {%- set url = badge.url -%}
        {%- set target = "_blank" -%}
        {%- endif -%}
        <a class="level-item" href="{{ url }}" target="{{ target }}"><img src="{{ badge.image }}" alt="{{ badge.name }}" ></a>
        {%- endfor -%}
    </div>
</div>
{%- endif -%}
<hr />
{% if page.toc %}
<div class="level">
    <div class="level-left">
        {{ macros::toc(toc=page.toc, class="level-item") }}
    </div>
    <div class="level-right">
    </div>
</div>
{%- endif %}

<div class="content is-medium">
    {{ page.content | safe }}
</div>
</div>
{%- endblock content -%}