{{ define "footer_md" }}
    {{ with .Params.Footer }}<p>{{ . | markdownify }}</p>{{ end }}
    {{ with .Parent }}{{ template "footer_md" . }}{{ end }}
{{ end }}

<p>
    &copy; {{ replace .Site.Copyright "{year}" now.Year }}
    Content on this website is licensed for use under the
    <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/"
        title="Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International">Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International</a>
</p>
{{ template "footer_md" . }}