{%- macro locale_name(name) %}
    {%- if lang == config.default_language -%}
        {{ name ~ ".md" }}
    {%- else -%}
        {{ name ~ "." ~ lang ~ ".md" }}
    {%- endif -%}
{%- endmacro %}

{%- macro is_page_active(name, recursive=false) -%}
{#    {%- set full_name = self::locale_name(name=name) -%}#}
    {%- set full_name = name -%}

    {%- set current = section | default(value=page) -%}
    {%- if current -%}
        {%- if recursive -%}
            {%- set is_current_active = current.relative_path == full_name -%}
            {%- set is_active = is_current_active or full_name in current.ancestors -%}
        {%- else -%}
            {%- set is_active = current.relative_path == full_name -%}
        {%- endif -%}
    {%- else -%}
        {%- set is_active = false -%}
    {%- endif -%}
    {%- if is_active -%}is-active{%- endif -%}
{%- endmacro is_page_active -%}

{%- macro author_url(name) -%}
    {%- set slug = name | slugify -%}
    {{ get_url(path="@/authors/" ~ slug ~ ".md", lang=lang) }}
{%- endmacro author_url -%}

{%- macro toc(toc, class="") -%}
    <aside class="box {{ class }}">
        <div class="content">
            <h4>{{ trans(key="toc", lang=lang) }}</h4>
            <ol>
                {% for h1 in page.toc %}
                    <li>
                        <a href="{{ h1.permalink | safe }}">{{ h1.title }}</a>
                        {% if h1.children %}
                            <ol>
                                {% for h2 in h1.children %}
                                    <li>
                                        <a href="{{ h2.permalink | safe }}">{{ h2.title }}</a>
                                        {% if h2.children %}
                                            <ol>
                                                {% for h3 in h2.children %}
                                                    <li>
                                                        <a href="{{ h3.permalink | safe }}">{{ h3.title }}</a>
                                                    </li>
                                                {% endfor %}
                                            </ol>
                                        {% endif %}
                                    </li>
                                {% endfor %}
                            </ol>
                        {% endif %}
                    </li>
                {% endfor %}
            </ol>
        </div>
    </aside>
{%- endmacro toc -%}
