{% extends "skyfarer/base.html" %}

{% block title %}Quests | Skyfarer{% endblock title %}

{% block content %}
<h1 class="title">{{ section.title }}</h1>
<div class="content">
    {{ section.content | safe }}
</div>

<h2 class="subtitle">Quests</h2>
<ul>
    {% for page in section.pages %}
        <li><a href="{{ page.permalink | safe }}">{{ page.title }}</a>{% if page.extra.author %} {{ trans(key="by", lang=lang) }} <a href="#">{{ page.extra.author }}</a>{% endif %}</li>
    {% else %}
        <p>{{ trans(key="nothing-here", lang=lang) }}</p>
    {% endfor %}
</ul>
{% endblock content %}

