{%- extends "skyfarer/base.html" -%}

{%- block content -%}
    <h1 class="title">{{ page.title }}</h1>
    <div class="level">
        <div class="level-left">
            {%- if page.extra.author -%}
                <a class="level-item"
                   href="{{ macros::author_url(name=page.extra.author) }}">{{ page.extra.author }}</a>
            {%- endif -%}
            <p class="level-item">{{ trans(key="reading-time", lang=lang) }}: {{ page.reading_time }} {{ trans(key="minutes", lang=lang) }}</p>
        </div>
        <div class="level-right">
        </div>
    </div>
    <hr />
    {% if page.toc %}
    <div class="level">
        <div class="level-left">
            {{ macros::toc(toc=page.toc, class="level-item") }}
        </div>
        <div class="level-right">
        </div>
    </div>
    {%- endif %}

    <div class="content is-medium">
        {{ page.content | safe }}
    </div>
    </div>
{%- endblock content -%}
